*{ 
    margin: 5px;
}
.mainpage{
    background-color: rgb(235, 235, 244);
}
h4 {
    padding: 3px;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
.btn-block{
    width: 110px;
    height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
