.date-range-field {
    width: 360px;
}

.mat-mdc-form-field {
    border-radius: 8px;
}


.mat-datepicker-toggle {
    color: #1976d2 !important;
}


.mat-calendar-body-selected {
    background-color: #1976d2 !important;
    color: #fff !important;
}


.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: #1976d2 !important;
}


.mat-datepicker-content {
    border-radius: 12px !important;
}