@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'segoe UI'

}

.navbar {
    padding: 0;
    height: 65px;
    background: #75ac12;
    position: relative;
}
.menu-border{
    border-right: 1px solid;
    padding-right: 10px;
    
}

.navbar .navbar-nav .nav-item .nav-link {
    height: 100%;

}

.nav-link  {
    color: rgb(253, 253, 253);
    text-decoration: none;  
    
}



.logo {
    width: 100px;
    margin-left: 15px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.navbar-left {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-right {
    height: 100%;
    margin-right: 1.8%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar .navbar-nav,
.navbar .logo,
.navbar .nav-item,
.navbar .nav-link {
    height: 100%;
    display: flex;
    flex-direction: row;

    align-items: center;


}

.navbar-left,
.navbar-right {
    height: 100%;
    display: flex;
    margin-top: 0px;
}

.navbar-nav {
    margin-right: 15px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}



.nav-item {
    display: block;
    justify-content: space-between;
    align-items: center;
 
    


}

.nav-item span {
    
    font-size: 1rem;
    
    color: white;
    margin-left: 8px;
}


.nav-item a:hover {
    background-color: #74a31c;
    
}