<div class="mat-shadow-2">
  <table mat-table [dataSource]="dataSource" class="custom-table">

    <ng-container matColumnDef="Groups">
      <th mat-header-cell *matHeaderCellDef>Groups</th>
      <td mat-cell *matCellDef="let element">{{ element.organization }}</td>
    </ng-container>

    <ng-container matColumnDef="Location">
      <th mat-header-cell *matHeaderCellDef>Location</th>
      <td mat-cell *matCellDef="let element">{{ element.locationId }}</td>
    </ng-container>

    <ng-container matColumnDef="PurchaseDate">
      <th mat-header-cell *matHeaderCellDef>Purchase Date</th>
      <td mat-cell *matCellDef="let element">{{ element.purchaseDate }}</td>
    </ng-container>

    <ng-container matColumnDef="PurchaseAmount">
      <th mat-header-cell *matHeaderCellDef>Purchase Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.purchaseAmount ?? element.invoiceAmount }}</td>
    </ng-container>

    <ng-container matColumnDef="InvoiceDate">
      <th mat-header-cell *matHeaderCellDef>Invoice Date</th>
      <td mat-cell *matCellDef="let element">{{ element.invoiceDate }}</td>
    </ng-container>

    <ng-container matColumnDef="InvoiceAmount">
      <th mat-header-cell *matHeaderCellDef>Invoice Amount</th>
      <td mat-cell *matCellDef="let element">{{ element.invoiceAmount }}</td>
    </ng-container>

    <ng-container matColumnDef="Vendor">
      <th mat-header-cell *matHeaderCellDef>Vendor</th>
      <td mat-cell *matCellDef="let element">{{ element.vendor }}</td>
    </ng-container>

    <ng-container matColumnDef="Payment">
      <th mat-header-cell *matHeaderCellDef>Payment</th>
      <td mat-cell *matCellDef="let element">{{ element.payment }}</td>
    </ng-container>

    <ng-container matColumnDef="Invoice">
      <th mat-header-cell *matHeaderCellDef>Invoice</th>
      <td mat-cell *matCellDef="let element">{{ element.invoice }}</td>
    </ng-container>

    <ng-container matColumnDef="Comments">
      <th mat-header-cell *matHeaderCellDef>Comments</th>
      <td mat-cell *matCellDef="let element">{{ element.comments }}</td>
    </ng-container>

    <ng-container matColumnDef="CreatedOn">
      <th mat-header-cell *matHeaderCellDef>Created On</th>
      <td mat-cell *matCellDef="let element">{{ element.createdOn }}</td>
    </ng-container>

    <ng-container matColumnDef="Aging">
      <th mat-header-cell *matHeaderCellDef>Aging</th>
      <td mat-cell *matCellDef="let element">{{ element.aging }}</td>
    </ng-container>

    <ng-container matColumnDef="PossibleDuplicate">
      <th mat-header-cell *matHeaderCellDef>Possible Duplicate</th>
      <td mat-cell *matCellDef="let element">{{ element.possibleDuplicate }}</td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">{{ element.action }}</td>
    </ng-container>

    <ng-container matColumnDef="filterGroups">
      <th mat-header-cell *matHeaderCellDef>
        <select aria-label="Filter by group" [value]="selectedGroup"
          (change)="selectedGroup = $any($event.target).value; onGroupChange()">
          <option value="">Select</option>
          @for (group of Groups; track $index) {
          <option [value]="group">
            {{ group }}
          </option>
          }
        </select>
      </th>
    </ng-container>
    <ng-container matColumnDef="filterLocation">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterPurchaseDate">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterPurchaseAmount">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterInvoiceDate">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterInvoiceAmount">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterVendor">
      <th mat-header-cell *matHeaderCellDef>
        <input type="text" aria-label="Filter by vendor" placeholder="Type Vendor Name">
      </th>
    </ng-container>
    <ng-container matColumnDef="filterPayment">
      <th mat-header-cell *matHeaderCellDef>
        <select aria-label="Filter by payment" [value]='selectedPayment'
          (change)="selectedPayment = $any($event.target).value; onPaymentChange()">
          <option value="">All Payment</option>
          @for (payment of payments; track $index){
          <option [value]="payment">
            {{payment}}
          </option>
          }

        </select>
      </th>
    </ng-container>
    <ng-container matColumnDef="filterInvoice">
      <th mat-header-cell *matHeaderCellDef>
        <select aria-label="Filter by invoice" [(ngModel)]="selectedInvoices" (change)="applyFilters()">

          <option value="">Invoices</option>
          <option value="With Invoice">With Invoice</option>
          <option value="Without Invoice">Without Invoice</option>

        </select>
      </th>
    </ng-container>
    <ng-container matColumnDef="filterComments">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterCreatedOn">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterAging">
      <th mat-header-cell *matHeaderCellDef>
        <select aria-label="Filter by aging">
          <option>Aging</option>
        </select>
      </th>
    </ng-container>
    <ng-container matColumnDef="filterPossibleDuplicate">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>
    <ng-container matColumnDef="filterAction">
      <th mat-header-cell *matHeaderCellDef></th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="filterColumns" class="filter-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>