
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
   margin: 0;
  background-color: #eef4f7;
   font-family: 'Roboto', sans-serif;
 }

 /* Active tab text */
 .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
   color: green !important;
 }

 /* Active tab underline */
 .mat-mdc-tab-group .mdc-tab-indicator__content--underline {
   border-color: green !important;
 }

 .mat-mdc-tab-header {
   border-bottom: 1px solid rgb(212, 210, 210);
 }
 